################################
# Project-specific ignores
################################

# Large local data / experiments
popqa_with_retrieval/

# Local test notebooks
test.ipynb


################################
# Python
################################

__pycache__/
*.py[cod]
*.so


################################
# Environments (conda / venv)
################################

.env
.env.*
.venv/
venv/
env/
ENV/
conda-meta/
*.conda


################################
# Jupyter
################################

.ipynb_checkpoints/


################################
# Hugging Face / ML caches
################################

.cache/
hf_cache/
.huggingface/
datasets/


################################
# Secrets / credentials
################################

*.key
*.pem
*.token


################################
# Logs
################################

*.log


################################
# Editors / IDEs
################################

.vscode/
.idea/


################################
# OS junk
################################

.DS_Store
Thumbs.db
